extends ../../layouts/default.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='/' class='js-back-button') Назад
            time.post__date(datetime='article.publishedAt') #{new Date(article.publishedAt).toLocaleDateString('ru-RU')}
            h2.post__title.title.title--main #{article.title}
            if (article.image)
              ul.post__themes.themes
                each category in article.categories
                  li.themes__item
                    a.themes__item-link(href=`/articles/category/${category.id}`)
                      | #{category.title}
                      sup #{categories.find(it => it.id === category.id).count}
          if (article.image)
            .post__picture
              img(src='/img/sea-fullsize@1x.jpg' alt='пейзаж море, скалы, пляж')
          .post__text
            p #{article.announce}
            p #{article.text}

      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          if !article.comments.length
            h2.comments__title.title.title--middle Комментарии отсутствуют
          else
            h2.comments__title.title.title--middle Комментарии
            ul.comments__list
              each comment in article.comments
                li.comments__comment
                  .comments__avatar.avatar
                    img(src=`/img/${comment.users.avatar ? comment.users.avatar : 'icons/smile.svg'}` alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p
                        | #{comment.users.firstName} #{comment.users.lastName} •
                      time.comments__date(datetime=comment[`created_at`])
                       | #{new Date(comment[`created_at`]).toLocaleDateString('ru-RU')}
                       | #{new Date(comment[`created_at`]).toLocaleTimeString('ru-RU', {hour: '2-digit', minute:'2-digit'})}
                    p.comments__message #{comment.text}

          if currentUser.id
            .comments__footer.comments__footer--user
              form(action=`/articles/${article.id}/comments/` method='POST')
                .comments__avatar.avatar
                  img(src=`/img/${currentUser.avatar ? currentUser.avatar : 'icons/smile.svg'}` alt='аватар пользователя')
                label
                  textarea(rows='1' placeholder='Присоединиться к обсуждению' name="text")
                    | #{newComment}
                button.comments__button.button.button--colored(type='submit') Опубликовать
              if errors && errors.length
                p.comments__error
                  each error in errors
                    | #{error}
                    br

          else
            .comments__footer.comments__footer--visitor
              a.comments__button.button.button--colored(href="/login") Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться

  script(src='/js/main.js')
  script(src='/js/back-button.js')
