extends ../../layouts/default.pug

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      p.form__error-message(style="white-space: pre-wrap; padding: 0 40px")
        each error in errors
          | #{error}
          br
      .category__add-form
        form(action='/my/categories' method='POST')
          input#add-form-add-category(type='text' placeholder='Новая категория' name="title" value=newCategory)
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить

      ul.category__list
        each category in categories
          li.category__list-item
            form(action=`/my/categories/${category.id}/update` method='POST')
              input(id=`modify-form-category-${category.id}` type='text' name='title' value=category.title)
              label(for='modify-form-category-${category.id}')
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit') Сохранить
            form(action=`/my/categories/${category.id}/delete` method='POST' style="width: auto;")
              button.category__button.button.button--category(type='submit') Удалить
